/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN COLORS : #087f5b
GREY COLOR : #343a40

*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-color: #087f5b;
  --gray-color: #343a40;
  --btn-hover-color: #099268;
  --footer-font-color: #495057;
}


/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  border-bottom: 8px solid var(--main-color);
  color: var(--gray-color);
  font-family: 'Inter', sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 48px;
}

h2 {
  font-size: 36px;
  letter-spacing: -.5px;
  margin-bottom: 48px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.btn:link, .btn:visited{
  background-color: var(--main-color);
  color: #fff;
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover, .btn:active{
  background-color: var(--btn-hover-color);
}

.btn--big{
  font-size: 18px;
  padding: 16px 32px;
}

.btn--small{
  font-size: 14px;
  padding: 8px 12px;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 48px;
}

.header-text-box {
  align-self: center;
}

h1 {
  font-size: 44px;
  letter-spacing: -1px;
  line-height: 1.1;
  margin-bottom: 24px;
}

.header-text {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 24px;
}

img {
  width: 100%;
}

/* FEATURES */
.features-icon {
  color: var(--main-color);
  height: 32px;
  margin-bottom: 16px;
  width: 32px;
}

.features-title {
  font-size: 20px;
  margin-bottom: 16px;
}

.features-text {
  font-size: 18px;
  line-height: 1.7;
}

/* TESTIMONIAL */
.testimonial-section {
  background-color: var(--main-color);
  color: #fff;
  padding: 24px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  font-size: 24px;
  margin-bottom: 24px;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;
}

/* CHAIRS */
.chair-box {
  padding: 24px;
}

h3 {
  font-size: 20px;
  margin-bottom: 24px;
}

.chair-details {
  list-style: none;
  margin-bottom: 24px;
}

.chair-details li {
  align-items: center;
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-icon {
  color: var(--main-color);
  height: 24px;
  width: 24px;
}

.chair-price {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}

footer {
  color: var(--footer-font-color);
  font-size: 14px;
  margin-bottom: 48px;
}
